html {
  background-color: purple;
}

#poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}
img {
  border: 0.5px solid rgb(255, 0, 170);
}

h1 {
  color: white;
  text-align: center;
}

p {
  text-align: center;
  color: white;
}
